
.SideBar{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 4rem;
    gap: 30px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.logo{

    width: 4rem;
    height: 4rem;
}
.BiBulb{
    width: 3rem;
    height: 2.5rem;
    color: #61dafb;
}
.Search{
    width: 3rem;
    height: 2.5rem;

}
.IoShapesOutline{
    width: 3rem;
    height: 2.5rem;
    color: #61dafb;
}
